* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --user-photo-with: 150px;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-card {
  max-width: 300px;
  margin: 50px auto;
  min-width: 250px;
  border-radius: 30px;
  box-shadow: 0 0 10px gray;
  overflow: hidden;
  text-align: center;
}

.bg {
  background-image: url("https://images.pexels.com/photos/1154610/pexels-photo-1154610.jpeg");
  height: 150px;
  color: white;
  padding: 25px;
  text-align: right;
}

.content-wrapper {
  padding: 0 1em 1em;
}
.userImg {
  width: var(--user-photo-with);
  height: var(--user-photo-with);
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  margin-top: calc((-1) * var(--user-photo-with) / 2);
  border: 2px solid white;
}

.userName {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

.userGeoposition {
  font-size: 1rem;
  margin: 0.5em 0;
}
.job {
  font-size: 1.2rem;
  margin: 0.4em 0;
}
.experiense {
  font-size: 1rem;
  margin: 1.2em 0;
}

.userSocialLink {
  background-color: gray;
  color: white;
  font-size: 2.3rem;
  border-radius: 50%;
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

.userSocialLink + .userSocialLink {
  margin-left: 35px;
}
